<div class="carousel">
	<div class="carousel-inner">
		<div class="card coverage-card active">
			<div class="content">
				<h1>How the electoral map influenced Wednesday’s debt deal vote.</h1>
				<div class="buttons">
					<a href="#" class="btn btn-primary"><i class="ico-play"></i>Watch</a>
					<a href="#" class="btn btn-primary"><i class="ico-map"></i>Explore</a>	
				</div>
			</div>
			<a href="" class="thumb"></a>
		</div>
		<div class="card coverage-card">
			<div class="content">
				<h1>Lorem ipsum dolor sit amet</h1>
				<div class="buttons">
					<a href="#" class="btn btn-primary"><i class="ico-play"></i>Watch</a>
					<a href="#" class="btn btn-primary"><i class="ico-map"></i>Explore</a>	
				</div>
			</div>
			<a href="" class="thumb"></a>
		</div>
		<div class="card coverage-card">
			<div class="content">
				<h1>Lorem ipsum dolor sit amet</h1>
				<div class="buttons">
					<a href="#" class="btn btn-primary"><i class="ico-play"></i>Watch</a>
					<a href="#" class="btn btn-primary"><i class="ico-map"></i>Explore</a>	
				</div>
			</div>
			<a href="" class="thumb"></a>
		</div>
		<div class="card coverage-card">
			<div class="content">
				<h1>Lorem ipsum dolor sit amet</h1>
				<div class="buttons">
					<a href="#" class="btn btn-primary"><i class="ico-play"></i>Watch</a>
					<a href="#" class="btn btn-primary"><i class="ico-map"></i>Explore</a>	
				</div>
			</div>
			<a href="" class="thumb"></a>
		</div>
		<div class="card coverage-card">
			<div class="content">
				<h1>Lorem ipsum dolor sit amet</h1>
				<div class="buttons">
					<a href="#" class="btn btn-primary"><i class="ico-play"></i>Watch</a>
					<a href="#" class="btn btn-primary"><i class="ico-map"></i>Explore</a>	
				</div>
			</div>
			<a href="" class="thumb"></a>
		</div>
	</div>
</div>