<ul class="">
	<li class="active item">
		<a href="/coverage"><i class="ico-coverage"></i>Coverage</a>	
	</li>
	<li class="item">
		<a href="/predictions"><i class="ico-predictions"></i>Predictions</a>	
	</li>
	<li class="item">
		<a href="/history"><i class="ico-history"></i>History</a>	
	</li>
	<li>
		<a href="#" class="btn no-icon">Log in</a>	
	</li>
</ul>
