@font-face {
	font-family: 'CNN';
	src:url('../img/fonts/CNN.eot?-m6muvq');
	src:url('../img/fonts/CNN.eot?#iefix-m6muvq') format('embedded-opentype'),
		url('../img/fonts/CNN.woff?-m6muvq') format('woff'),
		url('../img/fonts/CNN.ttf?-m6muvq') format('truetype'),
		url('../img/fonts/CNN.svg?-m6muvq#CNN') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
	font-family: 'CNN';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 36px;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ico-arrow-left:before {
	content: "\e600";
}
.ico-arrow-up:before {
	content: "\e601";
}
.ico-check:before {
	content: "\e602";
}
.ico-coverage:before {
	content: "\e603";
}
.ico-disc:before {
	content: "\e604";
}
.ico-facebook:before {
	content: "\e605";
}
.ico-history:before {
	content: "\e606";
}
.ico-layers:before {
	content: "\e607";
}
.ico-map:before {
	content: "\e608";
}
.ico-out:before {
	content: "\e609";
}
.ico-pause:before {
	content: "\e60a";
}
.ico-play:before {
	content: "\e60b";
}
.ico-predictions:before {
	content: "\e60c";
}
.ico-sound:before {
	content: "\e60d";
}
.ico-star:before {
	content: "\e60e";
}
.ico-twitter:before {
	content: "\e60f";
}
.ico-x:before {
	content: "\e610";
}